*{
    margin-right: 40px;
    margin-left: 35px;
    
    
}
 
body {
    background: url(https://w0.peakpx.com/wallpaper/940/567/HD-wallpaper-razer-gamer-games-razer-phone.jpg);
    background-repeat: no-repeat  100%;
    
}

header {
    background-color: #30176b;
    color: #e7e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
	margin: 20px auto 0px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(100, 100, 100)), color-stop(1, rgb(40, 40, 40)));
	background: -moz-linear-gradient(center top, rgb(100,100,100) 20%, rgb(40,40,40) 100%);
    border: 3px solid #000;
        animation: cambiar-colores 2s infinite; 
      }
      
      @keyframes cambiar-colores {
        0% {
          border-color: #f00; 
        }
        25% {
          border-color: #0f0; 
        }
        50% {
          border-color: #00f; 
        }
        75% {
          border-color: #f0f;
        }
        100% {
          border-color: #000;
        }
      
}

header img{
    width: 150px;
    height: 150px;
    
        border: 3px solid #000; 
        animation: cambiar-colores 2s infinite; 
      }
      
      @keyframes cambiar-colores {
        0% {
          border-color: #f00; 
        }
        25% {
          border-color: #0f0; 
        }
        50% {
          border-color: #00f; 
        }
        75% {
          border-color: #f0f; 
        }
        100% {
          border-color: #000;
        }
    }
   
     
      

h1 {
    font-size: 36px;
    margin: 0;
    font-family: cursive;
    animation: desplazamiento 1s infinite;
    background: linear-gradient(to right, #FF0000, #00FF00, #09b975);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;


}
a {
  text-decoration:dashed;
}
    
.volver{
  
  border: 10px;
  border-radius: 12px;
  text-align: right;
  align-items: right; 
  border-style: outset;
}

.nose {
    background-image: url(https://th.bing.com/th/id/R.62df47717ba9d86b3cc714e2ff8ea818?rik=m%2bNsTyny2O7tkw&riu=http%3a%2f%2fimages2.fanpop.com%2fimages%2fphotos%2f5700000%2fMario-Wallpaper-nintendo-5739946-1280-1024.jpg&ehk=tsxH2IV%2fV%2f0bxTIz2bQGbgVyN5rd5qnCNkOzYI%2bM8Co%3d&risl=&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    
    align-items: center;
    background-size: 100% 100%;
    padding: 10px ;
    border: 3px solid #000; 
    animation: cambiar-colores 2s infinite; 
  }
  
  @keyframes cambiar-colores {
    0% {
      border-color: #f00; 
    }
    25% {
      border-color: #0f0; 
    }
    50% {
      border-color: #00f;
    }
    75% {
      border-color: #f0f; 
    }
    100% {
      border-color: #000; 
    }

}

.nose h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
    color: #ffffff;
}

main p{
  color: #ffffff;
    font-weight: bold;
    text-align: justify;
    
    
}
.imagenjuego {
    width: 350px;
    height: 550px;
    float: left;
}

.slider {
  width: 400px;
  margin: auto;
  overflow: hidden;
}
.slider ul{
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 15s infinite alternate linear;
}
.slider li {
width: 100%;
list-style: none;
}
.slider img {
  width: 100%;
  height: 250px;
}
@media(min-width: 768px){
  .slider img{
    height: 200px ;
  }
}
@keyframes cambio{
  0%{margin-left: 0;}
  10%{margin-left: 0;}

  20%{margin-left: -100%}
  30%{margin-left: -100%;}

  40%{margin-left: -200%;}
  50%{margin-left: -200%;}

  60%{margin-left: -300%;}
  100%{margin-left: -300%;}
}



h3{
  color: #ffffff;
    font-size: 40px;
}
h4{
    font-size: 30px;
    color: #ffffff;
}
h5{
    font-size: 25px; 
    color: #ffffff;
}
.gameplay {
  width: 300px;
  height: 200px;
  float: right;
}
h2 {
    text-align: center;
    font-family: cursive;
    color: #0dc20d;
    text-shadow: 2px 2px #060218; 
-webkit-text-stroke: 1px #15042c; 
font-weight: bold; 

}


ul a::after{ 
    content: "";
    position: absolute;
    left: 00px;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #52ec0b, #026910, #09b921);
    border-radius: 5px ;
    bottom: -6px;
    transform: scaleX(0);
    transition: .5s;
} 
ul a:hover::after{
    transform: scaleX(1);
}

ul {
    position: relative;
    display: flex;
    
    gap: 2px;
    justify-content:left;
    display: flex;
    align-items: center;
    min-height: 2vh;
    
}
ul li{
     position: relative;
     list-style: none;
     font-size: 10px;
    
     
}

#divgod{
    
    background-color: #505a50;
    color: #e7e5e5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(2, 16, 139)), color-stop(1, rgb(40, 40, 40)));
	background: -moz-linear-gradient(center top, rgb(100,100,100) 20%, rgb(40,40,40) 100%);
	

}
ul li a  {
    position: relative;
    font-size: 1em;
    margin: 1px;
    text-decoration: none;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    
    -webkit-text-stroke: .5px rgb(22, 218, 38);
}

ul li a::before{
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 4px solid var(--clr);
    -webkit-text-stroke: 1px var(--clr);
}

ul li a:hover::before{
    width: 100%;
    filter: drop-shadow( 0 0 25px var(--clr));
}

footer{
    background-color: #505a50;
    color: #e7e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 20px 0px 0px 0px;
	margin: 20px auto 0px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(100, 100, 100)), color-stop(1, rgb(40, 40, 40)));
	background: -moz-linear-gradient(center top, rgb(100,100,100) 20%, rgb(40,40,40) 100%);
    border: 3px solid #000; 
    animation: cambiar-colores 2s infinite;
  }
  
  @keyframes cambiar-colores {
    0% {
      border-color: rgba(255, 0, 0, 0.678); 
    }
    25% {
      border-color: rgb(30, 255, 0); 
    }
    50% {
      border-color: rgb(0, 17, 255); 
    }
    75% {
      border-color: rgb(255, 238, 0); 
    }
    100% {
      border-color: #bb2020; 
    }
}





#footergod {
	width: 810px; height: 82px;
	background-color:transparent;
	margin: 0px auto;
	padding: 5px 10px;
}

#footergod img {
    align-items: center;
	margin: -2px; padding: 0px;
    width: 80px;
    height: 70px;
}

#redessociales {
	float: right;
}

footer P{
    text-align: center;
    font-size: 17px;
}

